<div class="login_container">
    <h3 style="margin-bottom: 30px;">Welcome to Signup Page</h3>
    <form class="login">
        <label for="email">Email</label><br>
        <input type="email" name="email" formControlName="email" ><br><br>

        <label for="password">Password</label><br>
        <input type="password" name="password" formControlName="password" ><br><br>

        <button class="btn btn-primary" click = submit(val)>Submit</button>
        <a routerLink="/home"> <button class="btn btn-primary"style="margin-left: 70px;">Back To Home</button></a> 
    </form>
</div>

