<div [style.padding-top] ='"48px"' class=" mt-5 containter-fluid">
        <div class="song-card row">
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="Image Not Found">
                    <div class="card-body">
                    <h5 class="card-title">Arya -2</h5>
                    <p class="card-text">South Indian Best TollyWood Song's</p>
                    <a routerLink ="/playlist" class="btn btn-primary">Go to Play list</a>
                    </div>
                   </div> 
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="Image Not Found">
                    <div class="card-body">
                    <h5 class="card-title">Bajrang Bhaijan</h5>
                    <p class="card-text">One of the peoples favourate Playlist</p>
                    <a routerLink ="/playlist" class="btn btn-primary">Go to Play list</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="Image Not Found">
                    <div class="card-body">
                    <h5 class="card-title">Spider</h5>
                    <p class="card-text">Best TollyWood Song's Playlist liked by more peoples</p>
                    <a routerLink ="/playlist" class="btn btn-primary">Go to Play list</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="Image Not Found">
                    <div class="card-body">
                    <h5 class="card-title">Manam</h5>
                    <p class="card-text">Best TollyWood Song's of South Indian Peoples </p>
                    <a routerLink ="/playlist" class="btn btn-primary">Go to Play list</a>
                </div>
            </div>
            <div class="row">
                    <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="Image Not Found">
                            <div class="card-body">
                                <h5 class="card-title">Arya -2</h5>
                                <p class="card-text">South Indian Best TollyWood Song's</p>
                                <a routerLink ="/playlist" class="btn btn-primary">Go to Play list</a>
                            </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="Image Not Found">
                            <div class="card-body">
                                <h5 class="card-title">Bajrang Bhaijan</h5>
                                <p class="card-text">One of the peoples favourate Playlist</p>
                                <a routerLink ="/playlist" class="btn btn-primary">Go to Play list</a>
                            </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="Image Not Found">
                            <div class="card-body">
                                <h5 class="card-title">Spider</h5>
                                <p class="card-text">Best TollyWood Song's Playlist liked by more peoples</p>
                                <a routerLink ="/playlist" class="btn btn-primary">Go to Play list</a>
                            </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="Image Not Found">
                            <div class="card-body">
                                <h5 class="card-title">Manam</h5>
                    <p class="card-text">Best TollyWood Song's of South Indian Peoples </p>
                    <a routerLink ="/playlist" class="btn btn-primary">Go to Play list</a>
                            </div>
                    </div>
            </div>
        </div>
</div>